.aboutStyle {
    background-image: url("/public/flower.jpg");
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    position: relative;
    border-radius: 0px 0px 100px 100px;
}
.text {
    font-size: medium;
    text-align: left;
    margin-top: 155px;
    margin-left: 50px;
    margin-right: 100px;
}
.background{
    background-color: black;
}
h1 {
    line-height: 3;
    text-align: left;
}
h4 {
    font-size: 20px;
    line-height: 0.5;
    text-align: left;
}
