.button {
    width: 15%;
    align-items: center;
    padding: 10px 20px;
    background-color: #014D26;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0.2;
    height: 20px;
    margin-left: 2%;
}

.text-quantity {
    font-size: 22px;
    text-align: left;
}

.text-detail {
    font-size: 18px;
    line-height: 0.5;
}

.cancel {
    width: 20%;
    padding: 15px 15px;
    background-color: #014D26;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0.2;
    text-align: center;
    height: 10px;
}

.text-confirm {
    font-size: 22px;
    text-align: center;
}

.buy {
    width: 110.5%;
    padding: 15px 15px;
    background-color: #014D26;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0.2;
    text-align: center;
    height: 10px;
    margin-top: 5%;
    margin-left: -5%;
    align-items: center;
}
.rounded-textfield {
    width: 100%;
    display: inline-block;
    padding: 10px;  
    border: 1px solid rgb(24, 24, 24);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    outline: none; 
    line-height: 0.2;
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
  }

.cell {
    padding: 10px;
    text-align: center;
    color: black;
    flex: 1;
    vertical-align: top;
    background: white;
}

.image-detail {
    width: 200px;
    height: 200px;
    margin: auto;
}

.tree-detail {
    text-align: left;
    font-size: 15px;
    line-height: 0.5;
    font-size: medium;
}

.text-total-price {
    font-size: 18px;
    font-weight: bold;
    color: #dc143c;
    line-height: 0.5;
    text-align: left;
}
.address-detail {
    font-size: 15px;
    line-height: 0.5;
    text-align: left;
    font-size: medium;
}
.rounded-textfield:hover {
    width: 100%;
    border-color: hsl(138, 95%, 24%); /* Change border color on focus or hover */
    color: rgb(0, 0, 0); /* Change text color on focus or hover */
}