.button {
    width: 15%;
    align-items: center;
    padding: 10px 20px;
    background-color: #014D26;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0.2;
    height: 20px;
    margin-left: 2%;
}

.text-quantity {
    font-size: 22px;
    text-align: left;
}

.text-detail {
    font-size: 18px;
    line-height: 0.5;
}

.cancel {
    width: 20%;
    padding: 15px 15px;
    background-color: #014D26;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0.2;
    text-align: center;
    height: 10px;
}

.text-confirm {
    font-size: 22px;
    text-align: center;
}

.buy {
    width: 110.5%;
    padding: 15px 15px;
    background-color: #014D26;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    line-height: 0.2;
    text-align: center;
    height: 10px;
    margin-top: 5%;
    margin-left: -5%;
    align-items: center;
}