.Home-Header {
    display: flex;
}

.App-Header {
    display: flex;
}
.split-layout {
    display: flex;
    height: 100vh;
  }
  
  .contracted .left-side {
    width: 0; /* Contract the left side when contracted class is applied */
  }

/* CSS for the HomePage */
.container {
  display: flex;
  height: 100vh; /* Set the container height to full viewport height */
}

.text {
  flex: 1; /* Adjust the width of the left section */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #000000;
  color: white; /* Set text color */
  font-size: 24px; /* Set font size */
  text-align: center; /* Align text in the center */
}

.left-section {
  flex: 1; /* Adjust the width of the left section */
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  background-color: #000000;
  color: white; /* Set text color */
  font-size: 24px; /* Set font size */
  text-align: center; /* Align text in the center */
}

.right-section {
  flex: 1; /* Adjust the width of the right section */
  height: 100%; /* Set the height of the right section to fill the container */
  background-image: url("/public/flower.jpg");
  background-color: #eaeaea;
  background-size: cover; /* Ensure the background image covers the entire area */
  background-position: center; /* Center the background image */
}
h1 {
  line-height: 0.1;
}

.navigation-button {
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 10px 15px;
  background-color: #014D26;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  height: 20px;
  position: absolute;
  margin-top: 300px;
  margin-right: 150px;
}
  