.Home-Header {
    display: flex;
}

.App-Header {
    display: flex;
}
.split-layout {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    flex: 0 0 300px; /* Set a fixed width for the left side */
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .right-side {
    flex: 1;
    background-image: url('path/to/your/background-image.jpg');
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease; /* Add a smooth transition effect */
  }
  
  .contracted .left-side {
    width: 0; /* Contract the left side when contracted class is applied */
  }
  