.container {
    background-image: url("/public/flower.jpg");
    background-size: cover;
    background-position: center;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
    border-radius: 0px 0px 100px 100px;
}

.background{
    background-color: black;
    height: 700px;
}

body {
    background-color: black;
}

.order-detail-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
  }
  
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 1000px;
}
  
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
  
.username {
    font-size: 48px;
    font-weight: bold;
    line-height: 0.5;
}
  
.payment-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
  
.payment-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.payment-method {
    font-size: 16px;
    color: #666;
}
  
.cart-details {
    flex-grow: 1;
}

.cart-image {
  width: 75px;
  height: 75px;
  margin-right: 200px;
  margin-bottom: 120px;
}

.cart-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.cart-details ul {
    list-style: none;
    padding: 0;
}
  
.cart-details li {
    margin-bottom: 5px;
}

p {
  font-size: 28px;
}